streamlit>=0.86.0
spacy
pandas
spacy_streamlit
nltk
textblob
tweepy
sklearn
BeautifulSoup4
unidecode
matplotlib
wordcloud  
#xgboost
#catboost
#lightgbm

# Libreria para barras de progreso
tqdm
pip    

#pip spacy download en_core_web_sm
    
